.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    padding: 0 19px 0 19px;
    box-sizing: border-box;
  }
}
