.elements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 21px 18px;
  padding: 48px 0 68px 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 320px) {
  .elements {
    padding: 36px 0 48px 0;
  }
}

