.profile__edit-button {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background: none;
  min-width: 24px;
  height: 24px;
  color: inherit;
  padding: 0;
  cursor: pointer;
  margin: 77px 10px 0 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: opacity 0.2s linear;
}

.profile__edit-button:focus {
  border-radius: 0;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 615px) {
  .profile__edit-button {
    margin: 38px 0 0 10px;
  }
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    margin: 30px 0 0 5px;
    max-width: 18px;
    min-width: 18px;
    height: 18px;
  }
}
