.form__submit {
  width: 100%;
  max-width: 358px;
  min-height: 50px;
  margin-top: 48px;
  background-color: #000000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: inherit;
  font-style: inherit;
  font-weight: normal;
  color: #fff;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.form__submit:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 480px) {
  .form__submit {
  font-size: 14px;
  line-height: 17px;
  }
}
