.element__like-button {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  transition: opacity 0.2s linear;
}

.element__like-button:hover {
  opacity: .6;
}

.element__like-button:focus {
  outline: none;
}
